{{define "base"}}
<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/dropdown.js" defer></script>

    <link rel="stylesheet" href="/static/css/main.css">
    {{block "head" .}}{{end}}
</head>

<body>
    {{ iconsSprite }}

    <div class="top-bar">
        <div class="top-bar__left">
            <a href="/" class="logo-link"><img src="/static/img/tomaternas_logo.svg" alt="" class="top-bar__logo"></a>
        </div>
        <div class="top-bar__right">
            {{block "top-right" .}}
            {{template "auth-menu" .}}
            {{end}}
        </div>
        <div class="top-bar__overflow">
            {{block "top-right-overflow" .}}
            {{if and .G.User (eq .G.User.Role "admin")}}
            <a href="/admin/dashboard" class="btn btn--subtle">Adminpanel</a>
            {{end}}

            {{if .G.User}}
            <a href="/recipes/new" class="btn btn--subtle">
                {{icon "outline" "plus"}}
                Nytt recept
            </a>
            {{end}}
            {{end}}
        </div>
    </div>

    {{block "content" .}}{{end}}
</body>

</html>
{{end}}
