{{define "base"}}
<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/static/js/main.js" defer></script>

    <link rel="stylesheet" href="/static/css/main.css">
    {{block "head" .}}{{end}}
</head>

<body>
    {{ iconsSprite }}

    <div class="top-bar">
        <a href="/" class="top-bar__logo logo-link">
            <div class="logo-link__text">t</div>
            <img class="logo-link__tomato" src="/static/img/tomato.svg">
            <div class="logo-link__text">maternas</div>
        </a>
        <div class="top-bar__right">
            {{block "top-right" .}}

            {{if and .G.User (eq .G.User.Role "admin")}}
            <a href="/admin/dashboard" class="button">Adminpanel</a>
            {{end}}

            {{if .G.User}}
            <a href="/recipes/new" class="button">Nytt recept</a>
            {{end}}

            {{template "auth-menu" .}}

            {{end}}
        </div>
    </div>

    {{block "content" .}}{{end}}
</body>

</html>
{{end}}
