{{define "auth-menu"}}

{{if .G.User}}

<div data-dropdown>

    <button data-dropdown-trigger class="btn btn--secondary">
        {{ icon "outline" "user" }}
        <span>{{.G.User.DisplayName }}</span>
    </button>

    <div data-dropdown-menu>
        <a href="/settings" role="menuitem">
            {{ icon "outline" "settings" }}
            Inställningar
        </a>
        <form action="/logout" method="POST">
            <button type="submit" role="menuitem">
                {{icon "outline" "logout"}}
                Logga ut
            </button>
        </form>
    </div>

</div>

{{else}}

<a href="/login?return={{.G.Path}}" class="btn btn--secondary">Logga in</a>

{{end}}

{{end}}
