{{define "auth-menu"}}

{{if .User}}

<div class="auth-menu" id="auth-menu">

    <button class="profile-button" id="auth-menu-profile-button">
        {{slice .User.DisplayName 0 2}}
    </button>

    <div class="dropdown" id="auth-menu-dropdown">
        <a href="/settings" role="menuitem">Inställningar</a>

        {{if eq .User.Role "admin"}}
        <a href="/admin/dashboard" role="menuitem">Adminpanel</a>
        {{end}}

        <form action="/logout" method="POST">
            <button type="submit" role="menuitem">Logga ut</button>
        </form>
    </div>

</div>


<script src="/static/js/auth-menu.js" defer></script>

{{else}}

<a href="/login?return={{.Path}}">Logga in</a>

{{end}}

{{end}}
