{{define "auth-menu"}}

{{if .G.User}}

<div class="auth-menu" id="auth-menu">

    <button id="auth-menu-profile-button">{{.G.User.DisplayName }}</button>

    <div class="auth-menu__dropdown" id="auth-menu-dropdown">
        <a href="/settings" role="menuitem">Inställningar</a>
        <form action="/logout" method="POST">
            <button type="submit" role="menuitem">Logga ut</button>
        </form>
    </div>

</div>

<script src="/static/js/auth-menu.js" defer></script>

{{else}}

<a href="/login?return={{.G.Path}}" class="button">Logga in</a>

{{end}}

{{end}}
