{{template "base" .}}

{{define "content"}}

<h1>Ta bort användare</h1>

<p>
    Du är på väg att ta bort följande användare:
</p>

<table>
    <tr>
        <td>ID</td>
        <td>{{.User.ID}}</td>
    </tr>
    <tr>
        <td>Användarnamn</td>
        <td>{{.User.Username}}</td>
    </tr>
    <tr>
        <td>Visningsnamn</td>
        <td>{{.User.DisplayName}}</td>
    </tr>
</table>

<p>
    Är du säker på att du vill ta bort användaren permanent?
</p>

<form action="/admin/users/delete/{{.User.ID}}" method="POST">
    <button type="submit">Ta bort användare permanent</button>
</form>

{{end}}
