{{template "base" .}}

{{define "head"}}
<title>Admin - Skapa användare</title>
{{end}}

{{define "content"}}

<div class="wrapper grid">
    <h1>Skapa användare</h1>

    <form action="/admin/users" method="POST" class="lg:span-4">
        {{if .L.Error}}
        <p class="form-error">
            {{.L.Error}}
        </p>
        {{end}}

        <label for="username" class="label">Användarnamn</label>
        <input type="text" name="username" id="username" required class="input">

        <label for="display-name" class="label">Visningsnamn</label>
        <input type="text" name="display-name" id="display-name" class="input">

        <label for="password" class="label">Lösenord</label>
        <input type="password" name="password" id="password" required class="input">

        <label for="confirm-password" class="label">Bekräfta lösenord</label>
        <input type="password" name="confirm-password" id="confirm-password" required class="input">

        <label for="role" class="label">Roll</label>
        <select name="role" id="role" class="input">
            <option value="user">Användare</option>
            <option value="admin">Admin</option>
        </select>

        <button type="submit" class="btn btn--primary mt-8">Skapa användare</button>
    </form>
</div>

{{end}}
