{{template "base" .}}

{{define "head"}}
<title>Admin - Hantera användarkonton</title>
{{end}}

{{define "content"}}

<h1>Alla användare</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Användarnamn</th>
            <th>Visningsnamn</th>
            <th>Roll</th>
            <th>Ändrad</th>
            <th>Skapad</th>
        </tr>
    </thead>
    <tbody>
        {{range .L.Users}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Username}}</td>
            <td>{{.DisplayName}}</td>
            <td>{{.Role}}</td>
            <td>{{.UpdatedAt}}</td>
            <td>{{.CreatedAt}}</td>
            <td><a href="/admin/users/{{.ID}}/edit">Hantera</a></td>
        </tr>
        {{end}}
    </tbody>
</table>

<p>
    <a href="/admin/users/new">Skapa ny användare</a>
</p>

{{end}}
