{{template "base" .}}

{{define "head"}}
<link rel="stylesheet" href="/static/css/login.css">
<title>Logga in</title>
{{end}}

{{define "top-right"}}
<!-- empty -->
{{end}}

{{define "content"}}

<h1>Logga in</h1>

<form action="/login" method="POST">
    {{if .L.Error}}
    <div class="error">
        {{.L.Error}}
    </div>
    {{end}}

    {{if .L.ReturnPath}}
    <input type="hidden" name="return" value="{{.L.ReturnPath}}">
    {{end}}

    <div>
        <label for="username">Användarnamn</label>
        <input type="text" name="username" id="username" required>
    </div>

    <div>
        <label for="password">Lösenord</label>
        <input type="password" name="password" id="password" required>
    </div>

    <button type="submit">Logga in</button>
</form>

{{end}}
