{{template "base" .}}

{{define "head"}}
<link rel="stylesheet" href="/static/css/login.css">
<title>Logga in</title>
{{end}}

{{define "top-right"}}
<!-- empty -->
{{end}}

{{define "content"}}

<div class="login">
    <h1 class="login__title">Logga in</h1>

    <form action="/login" method="POST">
        {{if .L.Error}}
        <div class="form-error">
            {{.L.Error}}
        </div>
        {{end}}

        {{if .L.ReturnPath}}
        <input type="hidden" name="return" value="{{.L.ReturnPath}}">
        {{end}}

        <label for="username" class="label">Användarnamn</label>
        <input type="text" name="username" id="username" required class="login__input input">

        <label for="password" class="label">Lösenord</label>
        <input type="password" name="password" id="password" required class="login__input input">

        <div class="form-buttons">
            <button type="submit" class="btn btn--primary">Logga in</button>
        </div>
    </form>
</div>

{{end}}
