{{template "base" .}}

{{define "head"}}
<link rel="stylesheet" href="/static/css/recipe.css">
<title>{{.L.Recipe.Title}}</title>
<script src="/static/js/recipe.js" defer></script>
{{end}}

{{define "reviewForm"}}
<form action="/recipes/{{.L.Recipe.ID}}/reviews{{if .L.UserReviewItem}}/edit{{end}}" method="POST" class="review-form">
    <h3>{{if .L.UserReviewItem}}Ändra ditt omdöme{{else}}Skriv ett omdöme{{end}}</h3>
    <div class="star-selection">
        <div class="star-selection__stars">
            <input type="radio" name="rating" value="1" id="rating-1" {{if and .L.UserReviewItem (eq
                .L.UserReviewItem.Rating 1)}}checked{{end}} required class="star-selection__input">
            <label for="rating-1" class="star-selection__label">{{icon "filled" "star"}}</label>

            <input type="radio" name="rating" value="2" id="rating-2" {{if and .L.UserReviewItem (eq
                .L.UserReviewItem.Rating 2)}}checked{{end}} class="star-selection__input">
            <label for="rating-2" class="star-selection__label">{{icon "filled" "star"}}</label>

            <input type="radio" name="rating" value="3" id="rating-3" {{if and .L.UserReviewItem (eq
                .L.UserReviewItem.Rating 3)}}checked{{end}} class="star-selection__input">
            <label for="rating-3" class="star-selection__label">{{icon "filled" "star"}}</label>

            <input type="radio" name="rating" value="4" id="rating-4" {{if and .L.UserReviewItem (eq
                .L.UserReviewItem.Rating 4)}}checked{{end}} class="star-selection__input">
            <label for="rating-4" class="star-selection__label">{{icon "filled" "star"}}</label>

            <input type="radio" name="rating" value="5" id="rating-5" {{if and .L.UserReviewItem (eq
                .L.UserReviewItem.Rating 5)}}checked{{end}} class="star-selection__input">
            <label for="rating-5" class="star-selection__label">{{icon "filled" "star"}}</label>
        </div>
        <div class="star-selection__descriptions">
            <div data-rating="1" class="star-selection__description">1. Äter ej</div>
            <div data-rating="2" class="star-selection__description">2. Äter om bjuden</div>
            <div data-rating="3" class="star-selection__description">3. Gillar tillräckligt för att laga</div>
            <div data-rating="4" class="star-selection__description">4. Ser fram emot</div>
            <div data-rating="5" class="star-selection__description">5. Utsökt</div>
        </div>
    </div>

    <label for="review-form-comment" class="review-form__comment-label">Kommentar (valfritt)</label>
    <textarea name="comment" id="review-form-comment" rows="3" placeholder="Varför tyckte du så?" class="input">{{if
        .L.UserReviewItem}}{{.L.UserReviewItem.Comment}}{{end}}</textarea>

    <div class="form-buttons">
        {{if .L.UserReviewItem}}
        <button type="button" onclick="cancelReviewEdit()" class="btn btn--secondary">Avbryt</button>
        {{end}}
        <button type="submit" class="btn btn--primary">Spara</button>
    </div>
</form>
{{end}}

{{define "content"}}

<div class="meta">
    <img src="/uploads/recipes/{{.L.Recipe.ID}}_lg@2x.jpg?v={{.L.Recipe.UpdatedAt.Unix }}"
        alt="Bild på färdigt resultat" class="meta__photo">
    <div class="meta__content">
        <div class="meta__management">
            <div class="meta__owner">Av {{.L.RecipeOwner.DisplayName}} &nbsp;&bull;&nbsp; {{proseDate
                .L.Recipe.CreatedAt}}
                &nbsp;&bull;&nbsp; ändrad
                {{proseDate .L.Recipe.UpdatedAt}}</div>
            {{if .L.CanManage}}
            <div data-dropdown class="meta__actions">
                <button data-dropdown-trigger type="button" class="btn btn--subtle btn--sq">{{icon "outline"
                    "dots-vertical" "icon--sm"}}</button>
                <div data-dropdown-menu>
                    <a href="/recipes/{{.L.Recipe.ID}}/edit" role="menuitem">
                        {{icon "outline" "edit"}}
                        Redigera
                    </a>
                    <form action="/recipes/{{.L.Recipe.ID}}/delete" method="POST" id="form-delete-recipe">
                        <button type="submit" role="menuitem">
                            {{icon "outline" "trash"}}
                            Radera
                        </button>
                    </form>
                </div>
            </div>
            <script>
                const recipeDeleteForm = document.getElementById("form-delete-recipe");
                recipeDeleteForm.addEventListener("submit", function (e) {
                    const isConfirmed = confirm("Är du säker på att du vill radera receptet permanent?");

                    if (!isConfirmed) {
                        e.preventDefault();
                    }
                });
            </script>
            {{end}}
        </div>
        <h1 class="meta__title">{{.L.Recipe.Title}}</h1>
        <div class="pills">
            {{range .L.RecipeTags}}
            <div class="pill pill--neutral">{{.}}</div>
            {{end}}
        </div>
        <div class="meta__iconwtext-container">
            <a href="#reviews">
                <div class="meta__iconwtext">
                    <div class="meta__stars">
                        {{template "stars" .L.AvgRating}}
                    </div>
                    {{if gt .L.AvgRating 0.0}}
                    <span>{{roundToDecimals .L.AvgRating 1}}</span>
                    {{end}}
                </div>
            </a>
            <div class="meta__iconwtext">
                {{icon "outline" "clock"}}
                <span>{{.L.RecipeCookTimeMinutes}} min</span>
                {{if .L.RecipePrepTimeHours}}
                <span>(+ {{.L.RecipePrepTimeHours}} h)</span>
                {{end}}
            </div>
        </div>

        <div class="meta__description">
            {{.L.RecipeDescriptionParsed}}
        </div>
    </div>
</div>


<div class="content">
    <div class="content__wrapper">
        <div class="content__ingredients">
            <h2>Ingredienser</h2>
            <div class="servings">({{ .L.Recipe.Servings }})</div>
            {{range .L.Recipe.IngredientSections}}
            {{if .Heading}} <h3>{{.Heading}}</h3> {{end}}
            <div>
                {{range .Ingredients}}
                <div class="ingredient">
                    <div>{{.Name}}</div>
                    <div>{{.Amount}}</div>
                </div>
                {{end}}
            </div>
            {{end}}
        </div>
        <div class="content__instructions">
            {{if .L.RecipePrepInstructionsParsed}}
            <h2>Förberedelser (ca {{.L.RecipePrepTimeHours}} timmar innan)</h2>
            {{.L.RecipePrepInstructionsParsed}}
            {{end}}

            <h2>Instruktioner</h2>
            {{.L.RecipeInstructionsParsed}}
        </div>
    </div>
</div>

<div class="wrapper mt-16">

    <h2 id="reviews" class="reviews-heading">Omdömen</h2>

    {{if .G.User}}
    {{if .L.UserReviewItem}}
    <dialog id="dialog-edit-review" class="modal">
        {{template "reviewForm" .}}
    </dialog>
    {{else}}
    <div class="create-review-form-container">
        {{template "reviewForm" .}}
    </div>
    {{end}}
    {{end}}

    {{if .L.UserReviewItem}}
    <dialog id="delete-review-dialog" class="modal">
        <form method="POST" action="/recipes/{{.L.Recipe.ID}}/reviews/delete">
            <h3>Ta bort omdöme?</h3>
            <p>Är du säker på att du vill ta bort ditt omdöme?</p>
            <div class="form-buttons">
                <button type="button" command="close" commandfor="delete-review-dialog"
                    class="btn btn--secondary">Avbryt</button>
                <button type="submit" class="btn btn--primary">Ja, ta bort omdöme</button>
            </div>
        </form>
    </dialog>
    {{end}}

    <div class="reviews">
        {{if .L.UserReviewItem}}
        <div class="review review--yours">
            <div data-dropdown class="review__kebab">
                <button data-dropdown-trigger class="btn btn--subtle btn--sq">
                    {{icon "outline" "dots-vertical"}}
                </button>
                <div data-dropdown-menu>
                    <button role="menuitem" onclick="showReviewEditForm()">
                        {{icon "outline" "edit"}}
                        Ändra
                    </button>
                    <button role="menuitem" command="show-modal" commandfor="delete-review-dialog">
                        {{icon "outline" "trash"}}
                        Ta bort
                    </button>
                </div>
            </div>
            <div class="review__meta">
                <div class="review__name">{{.L.UserReviewItem.UserDisplayName}}</div>
                <div class="review__date">{{proseDate .L.UserReviewItem.UpdatedAt}}</div>
            </div>
            <div class="stars-container">{{template "stars" .L.UserReviewItem.Rating}}</div>
            {{if .L.UserReviewItem.Comment}}
            <p>{{.L.UserReviewItem.Comment}}</p>
            {{end}}
        </div>
        {{end}}
        {{range .L.ReviewItems}}
        <div class="review">
            <div class="review__meta">
                <div class="review__name">{{.UserDisplayName}}</div>
                <div class="review__date">{{proseDate .UpdatedAt}}</div>
            </div>
            <div class="stars-container">{{template "stars" .Rating}}</div>
            {{if .Comment}}
            <p>{{.Comment}}</p>
            {{end}}
        </div>
        {{end}}
    </div>

</div>

{{end}}
