{{template "base" .}}

{{define "head"}}
<link rel="stylesheet" href="/static/css/recipe.css">
<title>{{.L.Recipe.Title}}</title>
{{end}}

{{define "content"}}

<div class="wrapper">

    <div class="title-section">

        <h1>{{.L.Recipe.Title}}</h1>

        {{if .L.CanManage}}
        <div class="title-section__actions">
            <a href="/recipes/{{.L.Recipe.ID}}/edit" class="title-section__edit-link">Redigera</a>
            <form action="/recipes/{{.L.Recipe.ID}}/delete" method="POST">
                <button type="submit" class="title-section__delete-btn">Radera</button>
            </form>
        </div>
        {{end}}

    </div>

    <p>
        Skapad: {{.L.RecipeCreatedAtFormatted}} (av {{.L.RecipeOwner.DisplayName}})
        <br>
        Ändrad: {{.L.RecipeUpdatedAtFormatted}}
    </p>

    <img src="/uploads/recipes/{{.L.Recipe.ID}}_800x800.jpg?v={{.L.Recipe.UpdatedAt.Unix }}"
        alt="Bild på färdigt resultat" class="photo">

    <div class="spacing-small">

        <p>
            {{if .L.RecipePrepTimeFormatted}}
            <span>Förberedelsetid: {{.L.RecipePrepTimeFormatted}}</span>
            <br>
            {{end}}
            <span>Tillagningstid: {{.L.RecipeCookTimeFormatted}}</span>
        </p>

        {{if .L.Recipe.MealTypes}}
        <div class="tag-container">
            <div>Måltidstyp:</div>
            {{range .L.Recipe.MealTypes}}
            <div class="tag">{{.}}</div>
            {{end}}
        </div>
        {{end}}

        {{if .L.Recipe.DietaryTags}}
        <div class="tag-container">
            <div>Specialkost:</div>
            {{range .L.Recipe.DietaryTags}}
            <div class="tag">{{.}}</div>
            {{end}}
        </div>
        {{end}}

        {{if .L.Recipe.OtherTags}}
        <div class="tag-container">
            <div>Etiketter:</div>
            {{range .L.Recipe.OtherTags}}
            <div class="tag">{{.}}</div>
            {{end}}
        </div>
        {{end}}

    </div>

    <div class="mt-large">
        {{.L.RecipeDescriptionParsed}}
    </div>

    <h2>Ingredienser ({{ .L.Recipe.Servings }})</h2>

    {{range .L.Recipe.IngredientSections}}

    {{if .Heading}} <h3>{{.Heading}}</h3> {{end}}

    <table class="ingredients">
        <tbody>
            {{range .Ingredients}}

            <tr>
                <td>{{.Name}}</td>
                <td>{{.Amount}}</td>
            </tr>

            {{end}}
        </tbody>
    </table>

    {{end}}

    <h2>Instruktioner</h2>

    {{.L.RecipeInstructionsParsed}}

</div>

{{end}}
