:root {
    --color-error-bg: hsl(0 90% 85%);
    --color-error-border: hsl(0 80% 60%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.top-bar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.top-bar .left {
    margin-right: auto;
}

.top-bar .right {
    margin-left: auto;
}

.error {
    background-color: var(--color-error-bg);
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--color-error-border);
    border-radius: 4px;
}
