:root {
    --meta-col-gap: var(--space-8);
    --max-photo-width: calc(0.5 * (var(--wrapper-width) - var(--meta-col-gap)));
}

.recipe-actions {
    display: flex;
    justify-content: flex-end;
    max-width: var(--wrapper-width);
    padding-inline: var(--padding-inline-page);
    box-sizing: content-box;
    margin-inline: auto;
    margin-bottom: 2rem;
    column-gap: 0.5rem;
    row-gap: 0.25rem;
}

.meta {
    margin-bottom: var(--space-16);
    padding-inline: var(--padding-inline-page);
    margin-inline: auto;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    row-gap: var(--space-6);
}

.meta__photo {
    aspect-ratio: 1 / 1;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: var(--radius);
    max-width: var(--max-photo-width);
}

.meta__content {
    max-width: 60ch;
}

.meta__management {
    position: relative;
    max-width: var(--max-photo-width);
}

.meta__actions {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.meta__owner {
    font-size: var(--text-sm);
    color: var(--clr-text-muted);
}

.meta__title {
    margin-top: var(--space-1);
    margin-bottom: var(--space-4);
    hyphens: auto;
}

.meta__iconwtext-container {
    margin-top: var(--space-4);
    margin-bottom: var(--space-6);
}

.meta__iconwtext {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.meta__iconwtext .icon {
    --size: 1.5rem;
}

.meta__description {
    hyphens: auto;
}

.meta__description> :last-child {
    margin-bottom: 0;
}

@media (min-width: 480px) {
    .meta__title {
        hyphens: manual;
    }
}

@media (min-width: 1024px) {
    .meta {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        max-width: var(--wrapper-width);
        margin-inline: auto;
    }
}

.content {
    padding-inline: var(--padding-inline-page);
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-16);
}

.content__wrapper>*>*:first-child {
    margin-top: 0;
}

.content__ingredients {
    max-width: 24rem;
}

.content__ingredients h3 {
    margin-top: var(--space-6);
    margin-bottom: var(--space-2);
}

.servings {
    margin-top: var(--space-2);
    margin-bottom: var(--space-4);
}

.ingredient {
    --padding-inline: var(--space-2);
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: var(--space-6);
    padding-block: var(--space-2);
    align-items: center;
    font-size: var(--text-sm);
}

.ingredient:not(:first-child) {
    border-top: 1px solid var(--clr-line);
}

.content__instructions {
    hyphens: auto;
}

.content__instructions p {
    margin-top: 1rem;
}

.content__instructions *+h2 {
    margin-top: 2rem;
}

@media (min-width: 1024px) {
    .content__wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 3rem;
        max-width: var(--wrapper-width);
        margin-inline: auto;
    }
}
