:root {
    --padding-inline-page: 0.5rem;
    --padding-meta-content: 1.25rem;
    --max-content-width-desktop: 56rem;
}

.recipe-actions {
    display: flex;
    justify-content: flex-end;
    max-width: var(--max-content-width-desktop);
    padding-inline: var(--padding-inline-page);
    box-sizing: content-box;
    margin-inline: auto;
    margin-bottom: 2rem;
    column-gap: 0.5rem;
    row-gap: 0.25rem;
}

.meta {
    margin-bottom: 4rem;
    padding-inline: var(--padding-inline-page);
    --radius: 1.5rem;
    margin-inline: auto;
    box-sizing: content-box;
}

.meta__photo {
    aspect-ratio: 1 / 1;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}

.meta__content {}

.meta__title {
    line-height: 1.1;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.meta__iconwtext-container {
    margin-block: 1rem;
}

.meta__iconwtext {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.meta__iconwtext i {
    font-size: 1.5em;
}

.meta__tags {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.meta__tag {
    font-size: 0.875rem;
    padding-inline: 0.625rem;
    padding-block: 0.375rem;
    border-radius: 8px;
    line-height: 1;
    border: 2px solid var(--color-border);
}

.meta__description {
    hyphens: auto;
    text-align: justify;
}

.meta__description> :last-child {
    margin-bottom: 0;
}

@media (min-width: 1024px) {
    .meta {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        max-width: var(--max-content-width-desktop);
        margin-inline: auto;
    }
}

.content {
    border-top: 2px solid var(--color-border);
    background-color: white;
    padding-block: 4rem;
    padding-inline: var(--padding-inline-page);
}

.content__wrapper>*>*:first-child {
    margin-top: 0;
}

.ingredients {
    border-collapse: collapse;
    width: 100%;
}

.ingredients td {
    padding-block: 0.5rem;
}

.ingredients td:not(:first-child) {
    padding-left: 2rem;
}

.ingredients tr:not(:last-child) {
    border-bottom: 2px solid var(--color-border);
}

.content__instructions {
    text-align: justify;
    hyphens: auto;
}

@media (min-width: 768px) {
    .content {
        padding-inline: calc(var(--padding-inline-page) + var(--padding-meta-content));
    }
}

@media (min-width: 1024px) {
    .content {
        padding-inline: var(--padding-inline-page);
    }

    .content__wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 3rem;
        max-width: var(--max-content-width-desktop);
        margin-inline: auto;
    }

    .ingredients {
        font-size: 0.875rem;
    }
}
